---
import FullLogo from "../home/FullLogo.astro";
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1).split('/')[0];
const navItemClass =
  "text-md font-thin hover:font-bold text-emerald-400 font-roboto";
const navItemClassActive = "text-md font-bold text-emerald-300 font-roboto";


const menuOptions: Array<Record<'text' | 'href', string>> = currentPath ===  'portfolio' ? [
  { text: 'Home', href: '/' },
  { text: 'Portfolio', href: '/portfolio' },
] : [
  { text: 'Portfolio', href: '/portfolio' },
  { text: 'About me', href: '#aboutme' },
  { text: 'My education', href: '#myeducation' },
  { text: 'Tech stack', href: '#techstack' },
  { text: 'Work experience', href: '#workexperience' },
];


---

<div
  class="flex z-10 w-full justify-between items-center sticky top-0 bg-slate-900"
>
  <FullLogo />
  <nav class="gap-5 lg:flex hidden">
    <a class={currentPath === "" ? navItemClassActive : navItemClass} href="/"
      >Home</a
    >
    <a
      class={currentPath === "portfolio" ? navItemClassActive : navItemClass}
      href="/portfolio">Portfolio</a
    >
  </nav>

  <div class="dropdown lg:hidden dropdown-bottom dropdown-end">
    <label tabindex="0" class="">
      <svg
        class="fill-current text-emerald-500"
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 512 512"
        ><path
          d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z"
        ></path>
      </svg>
    </label>
    <ul
      tabindex="0"
      class="dropdown-content menu font-roboto p-2 font-bold text-slate-500 shadow bg-slate-800 rounded-box w-52"
    >

    {
      menuOptions.map(({ text, href }) => (
        <li>
          <a href={href} class={currentPath === text.toLowerCase() ? navItemClassActive : navItemClass}>{text}</a>
          </li>
      ))
    }
    </ul>
  </div>
</div>
