---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeroHome from "../components/HeroHome.astro";
import MyEducation from "../components/MyEducation.astro";
---

<BaseLayout title="Home">
  <div class="flex flex-col" slot="content">
    <HeroHome />
    <MyEducation />
  </div>
</BaseLayout>
