---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeroHome from "../components/home/HeroHome.astro";
import AboutMe from "../components/home/AboutMe.astro";
import TechStack from "../components/home/TechStack.astro";
import MyEducation from "../components/home/MyEducation.jsx";
import WorkExperience from "../components/home/WorkExperience.astro";
---

<BaseLayout title="Home">
  <div class="flex flex-col" slot="content">
    <HeroHome />
    <AboutMe />
    <TechStack />
    <MyEducation client:load />
    <WorkExperience />
  </div>
</BaseLayout>
