---
---

<div class="flex flex-col">
  <h4 class="text-lg font-bold text-emerald-500 font-roboto">
    Santiago Vargas Vega
  </h4>
  <h5 class="text-base text-emerald-300 font-roboto">FullStack Developer</h5>
</div>
