---
import SectionLayout from "../../layouts/SectionLayout.astro";
---

<SectionLayout id="techstack" title="Tech stack">
  <div class="flex w-full justify-around items-center gap-8 flex-wrap">
    <img class="h-10 " src="/assets/icons/nextjs-icon.webp" alt="Nextjs" />
    <img class="w-20" src="/assets/icons/node-icon.webp" alt="Node" />
    <img class="h-20" src="/assets/icons/astro-icon.webp" alt="Astro" />
    <img class="w-20" src="/assets/icons/react-icon.webp" alt="React" />
    <img class="w-20" src="/assets/icons/typescript-icon.webp" alt="Typescript" />
  </div>
</SectionLayout>
