---
import SectionLayout from "../../layouts/SectionLayout.astro";
---

<SectionLayout id="techstack" title="Tech stack">
  <div class="flex w-full justify-around items-center gap-8 flex-wrap">
    <img class="w-20" src="/assets/icons/angular-icon.webp" alt="Angular" />
    <img class="w-20" src="/assets/icons/node-icon.webp" alt="Angular" />
    <img class="h-20" src="/assets/icons/astro-icon.webp" alt="Angular" />
    <img class="w-20" src="/assets/icons/react-icon.webp" alt="Angular" />
    <img class="w-20" src="/assets/icons/tailwind-icon.webp" alt="Angular" />
  </div>
</SectionLayout>
