<section class="mt-10 flex flex-col gap-5">
  <h2 class="font-roboto text-2xl font-bold text-emerald-500">About me</h2>
  <p class="text-slate-400 font-roboto text-lg">
    My name is Santiago Vargas and I enjoy building technological solutions.
    Softaware development is my passion since I was a child, by that time I
    liked to hack things like videogames, install some keyloggers so I could
    have access to my parents accounts and play videogames.
  </p>
</section>
