---
import SectionLayout from "../layouts/SectionLayout.astro";
---

<SectionLayout id="aboutme" title="About me">
  <p class="text-slate-400 font-roboto text-lg">
    My name is Santiago Vargas and I enjoy building technological solutions.
    Software development is my passion since I was a child, by that time I liked
    to hack things like video games, install some keyloggers, so I could have
    access to my parents accounts and play video games.
  </p>

  <p class="text-slate-400 font-roboto text-lg">
    Nowadays, I am a systems and computer engineer from Universidad de los
    Andes. I did my internship at a Startup (Imagineapps), and today I am
    working with Bloomberg as a contractor from UruIT.
  </p>
</SectionLayout>
