<footer class="lg:sticky">
  <div
    class="lg:pb-0 lg:h-fit lg:flex-col lg:w-fit mt-10 lg:fixed lg:items-center lg:left-5 lg:bottom-[20px] gap-10 h-10 flex justify-center w-full"
  >
    <a
      href="https://github.com/SantiagoVargasVe"
      target="_blank"
      rel="noopener noreferrer"
    >
      <i
        class="fa-brands text-2xl fa-github text-emerald-500 lg:hover:-translate-y-1 lg:hover:text-emerald-400"
      ></i>
    </a>

    <a
      href="https://twitter.com/s_vargasv"
      target="_blank"
      rel="noopener noreferrer"
    >
      <i
        class="fa-brands text-2xl fa-twitter text-emerald-500 lg:hover:-translate-y-1 lg:hover:text-emerald-400"
      ></i>
    </a>

    <a
      href="https://www.linkedin.com/in/santiagovargasvega/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <i
        class="fa-brands text-2xl fa-linkedin-in text-emerald-500 lg:hover:-translate-y-1 lg:hover:text-emerald-400"
      ></i>
    </a>

    <div
      class="border-l-[1px] hidden lg:block relative border-emerald-500 h-48"
    >
    </div>
  </div>

  <div
    class="lg:pb-0 lg:h-fit lg:fixed lg:flex-col lg:w-fit lg:items-center lg:left-[unset] lg:right-5 lg:bottom-[20px] gap-10 h-10 flex justify-center w-full"
  >
    <div
      class="border-l-[1px] hidden lg:block relative border-emerald-500 h-48"
    >
    </div>
    <a
      class="text-emerald-500 font-roboto text-lg email-link lg:hover:text-emerald-400"
      href="mailto:santiagovargasve@gmail.com"
      target="_blank"
      rel="noopener noreferrer"
    >
      santiagovargasve@gmail.com
    </a>
    <style>
      @media only screen and (min-width: 1024px) {
        .email-link {
          writing-mode: vertical-rl;
          text-orientation: mixed;
        }
      }
    </style>
  </div>
</footer>
