---
import "animate.css";
---

<footer class="">
  <div
    class="md:pb-0 md:h-fit md:flex-col md:w-fit md:items-center md:left-5 md:bottom-[20px] gap-10 h-10 flex justify-center absolute bottom-10 left-0 w-full"
  >
    <a
      href="https://github.com/SantiagoVargasVe"
      target="_blank"
      rel="noopener noreferrer"
    >
      <i class="fa-brands text-2xl fa-github text-emerald-500"></i>
    </a>

    <a
      href="https://twitter.com/s_vargasv"
      target="_blank"
      rel="noopener noreferrer"
    >
      <i class="fa-brands text-2xl fa-twitter text-emerald-500"></i>
    </a>

    <a
      href="https://www.linkedin.com/in/santiagovargasvega/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <i class="fa-brands text-2xl fa-linkedin-in text-emerald-500"></i>
    </a>

    <div
      class="border-l-[1px] hidden md:block relative border-emerald-500 h-48"
    >
    </div>
  </div>

  <div
    class="md:pb-0 md:h-fit md:flex-col md:w-fit md:items-center md:left-[unset] md:right-5 md:bottom-[20px] gap-10 h-10 flex justify-center absolute bottom-0 left-0 w-full"
  >
    <div
      class="border-l-[1px] hidden md:block relative border-emerald-500 h-48"
    >
    </div>
    <a
      class="text-emerald-500 font-roboto text-md email-link"
      href="mailto:santiagovargasve@gmail.com"
      target="_blank"
      rel="noopener noreferrer"
    >
      santiagovargasve@gmail.com
    </a>
  </div>
  <style>
    @media only screen and (min-width: 768px) {
      .email-link {
        writing-mode: vertical-rl;
        text-orientation: mixed;
      }
    }
  </style>
</footer>
