---
import "animate.css";
---

<section class="animate__animated animate__bounce mt-10 hidden">
  <div class="flex flex-col">
    <p class="text-green-500 font-semibold">Hi, my name is Santiago Vargas</p>
    <img
      class="fill rounded-full w-20 aspect-square object-cover"
      src="./public/assets/avatar.png"
    />
  </div>
</section>
