---
import "animate.css";
---

<section class="mt-10 flex flex-col w-full items-center">
  <h1
    class="text-emerald-300 text-4xl font-roboto text-center font-semibold line mb-10"
  >
    Hi, my name is Santiago Vargas and I am a

    <span class="change-text">developer</span>
    <span class="change-text">student</span>
    <span class="change-text">geek</span>
    <span class="change-text">team player</span>
    <span class="change-text">software engineer</span>
  </h1>
  <img
    class="fill rounded-full w-80 aspect-square object-cover"
    src="./public/assets/avatar.png"
  />

  <style>
    .change-text {
      display: none;
      /* animation-name: bounce-in-top;
      animation-duration: 3s; */
    }

    @keyframes bounce-in-top {
      0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
      }
      38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
      }
      55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
      }
      72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
      }
      81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
      }
      90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
      }
      95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
      }
      100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
      }
    }
  </style>
  <script>
    const texts = document.querySelectorAll(".change-text");
    const start = 0;
    const end = texts.length - 1;
    let act = 0;
    let prev = texts.length - 1;

    function performAnimation() {
      setTimeout(() => {
        act = act == end + 1 ? start : act;
        const prevText = texts[prev] as HTMLElement;
        const currentText = texts[act] as HTMLElement;
        prevText.style.display = "none";
        prevText.style.animationName = "none";
        prevText.style.animationDuration = "none";
        currentText.style.display = "inline-block";
        currentText.style.animationName = "bounce-in-top";
        currentText.style.animationDuration = "1s";
        prev += 1;
        act += 1;
        prev = prev == end + 1 ? (prev = 0) : prev;
        performAnimation();
      }, 3000);
    }
    performAnimation();
  </script>
</section>
