---
import "animate.css";
---

<section class="mt-10 flex w-full">
  <div class="flex md:flex-row flex-col items-center gap-5 lg:gap-10">
    <img
      class="fill rounded-full w-60 aspect-square object-cover"
      src="./public/assets/avatar.png"
    />
    <h1 class="text-slate-400 text-2xl font-roboto mb-10 h-12">
      Hi, my name is Santiago Vargas <br class="hidden" /> and I am a
      <span class="font-semibold" id="change-text"></span>
    </h1>
  </div>

  <script>
    const changeText = document.getElementById("change-text");
    let index = 0;

    const setOfWords = [
      "software engineer",
      "student",
      "geek",
      "developer",
      "team player",
    ];

    function performAnimation(text: string) {
      return new Promise<void>(async (resolve, reject) => {
        await addText(text);
        await sleep(1000);
        await deleteText(text);
        resolve();
      });
    }
    const sleep = (milliseconds: number) => {
      return new Promise((resolve) => setTimeout(resolve, milliseconds));
    };

    async function deleteText(text: string) {
      for (let i = 0; i < text.length; i++) {
        changeText.innerHTML = changeText.innerHTML.slice(0, -1);
        await sleep(100);
      }
    }

    async function addText(text: string) {
      for (let i = 0; i < text.length; i++) {
        changeText.innerHTML += text[i];
        await sleep(100);
      }
    }

    while (true) {
      await performAnimation(setOfWords[index]);
      index = (index + 1) % setOfWords.length;
    }
  </script>
</section>
