<section class="mt-10">
  <h2 class="font-roboto text-2xl font-bold text-emerald-500">My Education</h2>
  <p class="text-slate-400 font-roboto">
    asd;foijasdlfkjasd fjaslkdjfh alksjdfhla ksjdfhla jksdhfkljashd fljkashdfljk
    ahsdklfjahsdklfjh asljkdfhalsjkdhf ljkasdfh
  </p>
</section>
