---
import FullLogo from "./FullLogo.astro";
import NavBarMobile from "./NavBarMobile";
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
const navItemClass =
  "text-md font-thin hover:font-bold text-emerald-400 font-roboto";
const navItemClassActive = "text-md font-bold text-emerald-300 font-roboto";
---

<div class="flex w-full justify-between items-center">
  <FullLogo />
  <nav class="gap-5 md:flex hidden">
    <a class={currentPath === "" ? navItemClassActive : navItemClass} href="/"
      >Home</a
    >
    <a
      class={currentPath === "portfolio" ? navItemClassActive : navItemClass}
      href="/portfolio">Portfolio</a
    >
    <a
      class={currentPath === "posts" ? navItemClassActive : navItemClass}
      href="/posts">Posts</a
    >
    <a
      class={currentPath === "contact" ? navItemClassActive : navItemClass}
      href="/contact">Contact me</a
    >
  </nav>
  <NavBarMobile client:load />
</div>
