---
import SectionLayout from "../layouts/SectionLayout.astro";
---

<SectionLayout id="workexperience" title="Work experience">
  <div class="flex flex-col gap-3">
    <p class="text-slate-400 font-roboto">
      <span class="font-bold"> Universidad de los Andes</span> - Teaching assistant
      of object-oriented programming course. My responsibilities were grading the
      students' tasks and gave them feedback about their work and also to assist
      to workshops in order to solve any questions they could have.
    </p>
    <div
      class="divider before:bg-emerald-600 after:bg-emerald-600 text-emerald-500 font-roboto"
    >
      2019 Jun - May
    </div>
    <p class="text-slate-400 font-roboto">
      <span class="font-bold">Imagineapps</span> - Fullstack engineer for this startup.
      I worked in projects related to fintech, payment gateways, investorship, venture
      capital and stocks. My responsabilities were to create new features and implement
      solutions for multiple MVP's. During this time I also worked closely with clients
      providing ideas and customer support.
    </p>
    <div
      class="divider before:bg-emerald-600 after:bg-emerald-600 text-emerald-500 font-roboto"
    >
      2021 Jun - Dic
    </div>

    <p class="text-slate-400 font-roboto">
      <span class="font-bold">UruIT</span> - NodeJS/React Developer. I work as a
      contractor for Bloomberg, developing new products related to ETL process, spreadsheats
      and taxes.
    </p>
    <div
      class="divider before:bg-emerald-600 after:bg-emerald-600 text-emerald-500 font-roboto"
    >
      2022 Jun - Today
    </div>
  </div>
</SectionLayout>
