---
const { frontmatter } = Astro.props;
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout title={frontmatter.title}>
  <section slot="content" class="flex flex-col gap-5">
    <h1 class="font-roboto text-4xl text-emerald-500">{frontmatter.title}</h1>
    <div class="content-portfolio flex flex-col gap-5">
      {frontmatter.test}
      <slot />
    </div>
  </section>

  <style is:global>
    @tailwind base;
    .content-portfolio h2,
    h3,
    h4,
    h5,
    h6 {
      @apply text-emerald-500 font-roboto;
    }

    .content-portfolio h2 {
      @apply text-2xl;
    }

    .content-portfolio p {
      @apply text-slate-300 font-roboto text-base;
    }
    .content-portfolio ul,
    ol {
      @apply text-slate-300 font-roboto text-base list-disc;
    }

    .content-portfolio a {
      @apply underline cursor-pointer;
    }

    code {
      counter-reset: step;
      counter-increment: step 0;
    }
    code .line::before {
      display: inline-block;
      content: counter(step);
      counter-increment: step;
      width: var(--spacing-6);
      margin-right: 10px;
      text-align: right;
      font-variant-numeric: tabular-nums;
      color: white;
    }

    /* .content-portfolio code {
      @apply text-emerald-500;
    }
    .content-portfolio p:has(> code) {
      background-color: #0d1117;
    } */
  </style>
</BaseLayout>
